
<div class="card text-center">
  <img src="@baseThumbNailImageUrl/@Model.imageUrl.@thumbNailImageExtension" class="card-img-top" alt="@Model.name, earrings">
  <div class="card-body">
	<h5 class="card-title font-size-card-large">@Model.name</h5>
	<p class="card-text">Description:<br />@Model.description</p>
  </div>
  <ul class="list-group list-group-flush no-border-top-bottom">
	<li class="list-group-item no-border-top-bottom">Materials: @Model.materials</li>
	<li class="list-group-item no-border-top-bottom">Main colour(s): @Model.colour</li>
	<li class="list-group-item no-border-top-bottom">Reference: @Model.rowKey</li>
	<li class="list-group-item no-border-top-bottom font-size-card-large">Price: £@Model.price</li>
  </ul>
  <div class="card-body">
	<a href="@baseLargeImageUrl/@Model.imageUrl.@largeImageExtension" target="_blank" class="card-link">Large Image</a>
	<p>(this will open a new tab in your browser)</p>
  </div>
</div>

@code {

	[Parameter]
	public EarringModel Model { get; set; }

	public string baseThumbNailImageUrl = "https://dalkeithgh.blob.core.windows.net/emilylilycreations/Earrings/50PercentSize";
	public string thumbNailImageExtension = "png";
	public string baseLargeImageUrl = "https://dalkeithgh.blob.core.windows.net/emilylilycreations/Earrings";
	public string largeImageExtension = "jpeg";
}